#crop {
    margin: 0 auto;
}

.cropBlock {
    position: relative;
}
.selectCropArea {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.2;
    z-index: 1020;
    cursor: move;
    border: 1px solid red;
}

.cropImg {
    position: relative;
    z-index: 1000;
}

.selectWrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
}

.areaTop,
.areaRight,
.areaBottom,
.areaLeft {
    position: absolute;
}

.areaTop {
    top: -3px;
    left: 0;
    height: 7px;
    width: 100%;
    cursor: s-resize;
}

.areaRight {
    top: 0px;
    right: -3px;
    width: 7px;
    height: 100%;
    cursor: e-resize;
}

.areaBottom {
    bottom: -3px;
    height: 7px;
    left: 0;
    width: 100%;
    cursor: s-resize;
}

.areaLeft {
    top: 0px;
    left: -3px;
    width: 7px;
    height: 100%;
    cursor: e-resize;
}